.HooksHandbook {
  height: 100vh;
  text-align: center;
}

.HooksHandbook .Header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.HooksHandbook .Header .TitleTop {
  color: antiquewhite;
}

.HooksHandbook .Main {
  padding: 16px;
  margin-top: 30px;
}

.HooksHandbook .Main .Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.HooksHandbook .Footer h5 {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  background-color: grey;
  color: white;
  text-align: center;
}
