.Counter {
    text-align: center;
}

.Counter .container {
    display: inline-flex;
}

.Counter .container button{
    height: 3rem;
    cursor: pointer;
}

.Counter .container button:hover {
    cursor: pointer;
}

.Counter .container h4 {
    padding: 0 1rem .3rem;
}